<div class="toolbar" role="banner">

  <a href="/">
  <img
    width="160"
    style="padding-left: 40px;"
    alt="Clinisys"
    src="https://cdn.bitrix24.com/b14232851/landing/6be/6be08191cca1b62b0df3f81ab487ade6/_1_1x.png"
  />

</a>
  

    <button class="btn default" type="submit" (click)="logout()" > logout </button>



</div>

<form action="" method="post">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  
  
  <div class="container">
    
    
    <mat-form-field style="width: 100%;">
      <mat-label>
          Client: 
        </mat-label>


        <input matInput type="text" [matAutocomplete]="auto" [formControl]="myControl" />
        <mat-error *ngIf="formulaireForm.controls['username'].touched && formulaireForm.controls['username'].invalid">
          <span> This field is required </span>
          </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions |async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

   

    <mat-form-field appearance="fill">
      <mat-label>Modules</mat-label>
      <mat-select [formControl]="modules" multiple>
        <mat-option *ngFor="let module of modulesData" [value]="module.designation">{{module.designation}}</mat-option>
      </mat-select>
    </mat-form-field>


      <mat-form-field style="width: 100%;">
         <mat-label>
             Personnel:
          </mat-label>
           <input matInput type="text" [matAutocomplete]="auto" [formControl]="myControl" />
          <mat-error *ngIf="formulaireForm.controls['username'].touched && formulaireForm.controls['username'].invalid">
             <span> This field is required </span>
             </mat-error>
          </mat-form-field>

       <mat-form-field style="width: 100%;">
        <mat-label>
              Accompanying:
          </mat-label>
          <input matInput type="text" [matAutocomplete]="auto" [formControl]="myControl" />
          <mat-error *ngIf="formulaireForm.controls['username'].touched && formulaireForm.controls['username'].invalid">
              <span> This field is required </span>
             </mat-error>
          </mat-form-field>
              
        </div>

<!--
  <div class="was-validated">
    <label for="module">Module: </label>
    <input type="text" class="form-control" id="module" placeholder="" name="module" required>
    <div class="invalid-feedback">
      Champ obligatoire *
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="form-group">
    <label for="personnel">Personnel: </label>
    <select class="form-control" id="personnel" name="personnel" required>
      <option></option>
      <option value="user 1">user 1</option>
      <option value="user 2">user 2</option>
      <option value="user 3">user 3</option>
      <option value="user 4">user 4</option>
      <option value="user 5">user 5</option>
    </select>
    <div class="invalid-feedback">
      Champ obligatoire *
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="form-group">
    <label for="accompanying">Accompanying: </label>
    <select class="form-control" id="accompanying" name="accompanying" required>
      <option></option>
      <option value="user 1">user 1</option>
      <option value="user 2">user 2</option>
      <option value="user 3">user 3</option>
      <option value="user 4">user 4</option>
      <option value="user 5">user 5</option>
    </select>
    <div class="invalid-feedback">
      Champ obligatoire *
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="row form-group">
    <label for="startdate" class="col-sm-2 col-form-label">Start Date: </label>
      <div class="col-sm-4">
       <div class="input-group date" id="startdate">
          <input type="date" class="form-control" name="startdate">
        </div>
      </div>
    <label for="enddate" class="col-sm-2 col-form-label">End Date: </label>
      <div class="col-sm-4">
        <div class="input-group date" id="enddate">
          <input type="date" class="form-control" name="enddate">
        </div>
      </div>
  </div>

  <div class="row form-group">
    <label for="duration" class="col-sm-2 col-form-label">Duration: </label>
      <div class="col-sm-3"> 
        <div class="input-group date" id="hr">
          <input type="number" class="hr" value="00" size="2" name="hr">
        </div>
      </div>
      &nbsp;:
      <div class="col-sm-1">
        <div class="input-froup date" id="min">
          <input type="number" class="min" value="00" size="2" name="min">
        </div>
      </div> 
  </div>

  <div class="row form-group">
    <label for="starttime" class="col-sm-2 col-form-label">Start Time: </label>
      <div class="col-sm-4">
       <div class="input-group date" id="starttime">
          <input type="time" class="form-control" name="starttime">
        </div>
      </div>
    <label for="endtime" class="col-sm-2 col-form-label">End Time: </label>
      <div class="col-sm-4">
        <div class="input-group date" id="endtime">
          <input type="time" class="form-control" name="endtime">
        </div>
      </div>
  </div>

  

  <div class="form-group">
    <label for="nsheet" >Number Sheet:</label>
    <input type="number" id="nsheet" name="nsheet" class="form-control">
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkbox" name="signature">
    <label class="form-check-label" for="checkbox">
      Signature
    </label>
  </div>

  <br>

  <div class="form-group">
    <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t1.15752-9/278135650_384936450151922_2877029851411183536_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=SXlcrkSScWIAX8r0wFy&_nc_ht=scontent.ftun14-1.fna&oh=03_AVL_uq_1ejogGEyeoZ0zblKkYvlc73ur93dXqy7hxLqhyg&oe=627B7AA5"
    width="18">
    <label for="attachapicture">Attach a picture</label>
    <input type="file" class="form-control-file" id="attachapicture" name="pic">
  </div>
  
  <br>
  <hr>

  <div class="" style="background: none;">
    <div class="card-body">
      <h5 class="card-title">Transport vers le client: </h5>
    </div>
  </div>

  <div class="form-group">
    <label for="chauffeur">Chauffeur: </label>
    <input type="text" class="form-control" id="chauffeur" placeholder="Tapez le nom du chauffeur" name="chauffeur">
    <div class="invalid-feedback">
      Champ obligatoire *
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="row form-group">

    <label for="harrivée" class="col-sm-1 col-form-label">H.Arrivée: </label>
      <div class="col-sm-2">
        <input type="time" name="harrive">
      </div>

    <label for="hdépart" class="col-sm-1 col-form-label">H.Départ: </label>
      <div class="col-sm-1">
        <input type="time" name="hdepart">
      </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="mb-3">
    <label for="interventionrapport">Intervention Rapport: </label>
    <textarea class="form-control is-invalid" id="interventionrapport" rows="6" placeholder="" name="rapport" required></textarea>
    <div class="invalid-feedback">
      Champ obligatoire *
    </div>
  </div>
  -->

  <input class="submit" type="submit" value="Valider">
  
 
  
  <!--<p><input type="submit" value="Submit" name="B1"><input type="reset" value="Reset" name="B2"></p>-->
</form>