<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- SVG Framework-->
	
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<script src="src/assets/js/script.js"></script>


	<title>AdminHub</title>
</head>
<body>



	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">&nbsp;&nbsp;&nbsp;
				<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/278706469_525891999176171_3410406682252155521_n.png?stp=cp0_dst-png&_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=jFFexQGOPSsAX8vrO51&_nc_ht=scontent.ftun4-2.fna&oh=03_AVK5ZCLEhHX6oj-cQcgyZea4vjbD_FVXM66Q3ED4N2KwDQ&oe=62B8FE34" width="34" height="26">&nbsp;&nbsp;&nbsp;
			<span class="text">Clinisys</span>
		</a>


		<ul class="side-menu top">
			<li class="active">
				<a href="liste.html">					
					<i class='bx bx-list-ul' ></i>
					<span class="text">Liste des fiches</span>
				</a>
			</li>
			
			<li>
				<a href="plan.html">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Planification</span>
				</a>
			</li>
			<li>
				<a href="dash.html">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Acceuil</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Ajout Tâche</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>1020</h3>
						<p>Nouvelle Tâche</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>Clients Actifs</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Coût total des tâches</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Tâche Récente</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Utilisateur</th>
								<th>Date Tâche</th>
								<th>Statut</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Complété</span></td>
							</tr>
							<tr>
								<td>
									<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">En traitement</span></td>
							</tr>
							<tr>
								<td>
									<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">En traitement</span></td>
							</tr>
							<tr>
								<td>
									<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Complété</span></td>
							</tr>
							<tr>
								<td>
									<img src="https://scontent.ftun4-2.fna.fbcdn.net/v/t1.15752-9/283702711_757929475560035_738805073941789993_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=sPdCKB3PIbEAX92kRH7&_nc_ht=scontent.ftun4-2.fna&oh=03_AVKPtk_OVNB3L-ahguudhkQYTaLvWRxWH063drXc3xK6bw&oe=62B94253">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Complété</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>


</body>
</html>