
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Jura:wght@300&display=swap');
  </style>

<!-- <video controls>
  <source src="C:/Users/chm3s/Downloads/movie.mp4" type="video/mp4">
</video> -->



<div class="toolbar" role="banner">

    <a href="https://csys.com.tn/" target="_blank">
    <img
      width="160"
      style="padding-left: 40px;"
      alt="Clinisys"
      src="https://cdn.bitrix24.com/b14232851/landing/6be/6be08191cca1b62b0df3f81ab487ade6/_1_1x.png"
    />
  
  </a>
    <a routerLink="/login"> <button class="btn default">Connexion</button></a>


  </div>
  

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<!-- ToolTip -->


  

  <form>

  
    <!--
    <div class="wlc">
      <h1>Welcome to your login page</h1>
      </div>
    <img class="img" src="https://scontent.ftun8-1.fna.fbcdn.net/v/t1.15752-9/282113680_518343136696889_4454474629549381366_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=35I-CsbjltgAX_cnoKY&_nc_ht=scontent.ftun8-1.fna&oh=03_AVJxf8w5xVxvCAol62d3b9Qup-zL4O9ZJvAVnPLSOl7SAQ&oe=62B1AC4F">
  -->
  
  <div class="middle">
    <p>BIENVENUE SUR VOTRE PAGE DE CONNEXION</p>
    <hr>
    <br>
    <button type="submit" (click)="goToPage('login')" class="bb">Connexion</button>
  </div>

  <div class="ref">
    <a href="https://b24-4z12gp.bitrix24.site/rfrences/" target="_blank">
      <img
        src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.15752-9/281785417_3127994220750366_6940153766257450101_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=ToK-RCpTxkcAX-MnnUS&_nc_ht=scontent.ftun9-1.fna&oh=03_AVKzSVXR53S0mWFRljLLuY98zd5digG1s0-n2a0a2KEY9w&oe=62B08963">
    </a>
  </div>

  </form>
  
  <div class="mainbox">
    <input type="checkbox" id="check">
    <label for="check">Contact</label>
    <div class="media-icons">
      <a href="https://www.messenger.com/t/397933756958457/?messaging_source=source%3Apages%3Amessage_shortlink&source_id=1441792"
        target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://api.whatsapp.com/send/?phone=21624231400&text&app_absent=0" target="_blank"><i
          class="fab fa-whatsapp"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
  
    </div>
  </div>



 

